Timer {
    align-vertical: middle;

    &.break {
        background: lavenderblush;
        color: black;
    }

    #title {
        text-align: center;
        text-style: bold;
        width: 1fr;
        padding-bottom: 1;
    }

    TimeDisplay {
        text-align: center;
    }

    ProgressBar {
        width: 1fr;
        align: center middle;
    }
}
