Timer {
    align-vertical: middle;
}

Timer.break {
    background: lavenderblush;
    color: black;
}

Timer TimeDisplay {
    text-align: center;
}

Timer ProgressBar {
    width: 1fr;
    align: center middle;
}
